@import "../../sharedModules/Variables.module";
@import "../../sharedModules/Common.module";

.scrollDownBtnContainer {
  @extend .centerDivContentsH;

  position: absolute;
  bottom: 1rem;

  width: 100%;
}

