@import "Variables.module";

.btnWithIcon {
  background-color: transparent;
  outline: none;
  border: none;

  color: $font-bright-color;
  font-size: 3rem;
}

.btnWithIcon:hover {
  cursor: pointer;
}