@import "../../sharedModules/Common.module";
@import "../../sharedModules/Variables.module";
@import "../WelcomeScreen/WelcomeScreen.module";

// Variables
$header-height: 4rem;
$header-change-to-mobile: 750px;

// Header containers
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.headerMainContainer {
  @extend .header;
  @extend .centerDivContentsH;
}

.headerContentsContainer {
  width: 100%;
  max-width: $content-max-width;
  z-index: 1000;
}

.headerContents {
  margin-left: $content-margin-left-right;
  margin-right: $content-margin-left-right;

  @extend .centerDivContentsHVRow;
  justify-content: space-between;
}

.headerBackground {
  @extend .header;
  height: $header-height;
  background-color: #2c2626;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}

// Logo
.logoContainer {
  color: $font-bright-color;
}

.logoText {
  white-space: nowrap;
  margin-top: 0.8rem;
}

// Header mobile
@media (max-width: $header-change-to-mobile) {
  .headerContents {
    flex-direction: column;
  }

  .logoText {
    margin-bottom: 0.5vh;
  }
}