@import "../../sharedModules/Common.module";

.headerContainer {
  @extend .centerDivContentsHRow;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 800px) {
  .headerContainer {
    flex-direction: column;
  }
}

.logoContainer {

}