@import "../../sharedModules/Variables.module";
@import "../../sharedModules/Common.module";
@import "../Header/Header.module";

.navbarUl {
    @extend .centerDivContentsHRow;
    gap: 10vw;
    margin-left: auto;
    margin-right: 0;
    list-style-type: none;
}

@media (max-width: $header-change-to-mobile) {
    .navbarUl {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        gap: 4vh;
    }
}

.navbarLink, .navbarLink:visited {
    text-decoration: none;
    color: $font-bright-color;
}

.navbarLink:hover {
    opacity: 0.8;
    cursor: pointer;
}
