@import "../../sharedModules/Variables.module";
@import "../../sharedModules/Common.module";

.navbarUl {
    @extend .centerDivContentsHRow;
    gap: 10vw;
    margin-left: auto;
    margin-right: 0;
    list-style-type: none;
}

@media (max-width: 700px) {
    .navbarUl {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        gap: 4vh;
    }
}

.navbarA, .navbarA:visited {
    text-decoration: none;
    color: $font-bright-color;
}

.navbarA:hover {
    opacity: 0.6;
}
