@import "../../sharedModules/Common.module";
@import "../../sharedModules/Variables.module";

.mainContainer {
    @extend .centerDivContentsH;
    overflow-y: hidden;
}

.contentContainer {
    @extend .centerDivContentsH;
    flex-direction: column;

    width: 100%;
    max-width: $content-max-width;
}