@import "../../sharedModules/Common.module";

.mainContainer {
    @extend .centerDivContentsH;
    //position: relative;
    height: 300vh;
}

.contentContainer {
    @extend .centerDivContentsH;
    flex-direction: column;

    width: 100%;
    max-width: 110rem;
}